*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(King\ Yna.jpg);
    
}
.menu{
    color: white;
    margin-top: 0.8%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.611);
    padding: 14px 210px;
    word-spacing: 65px;
}
.menu :hover{
    color: gold;
}
.img1{
    margin-top: 8%;
    margin-left: 70%;
}
.home{
    color: white;
    margin-top: -17.5%;
    margin-left: 20%;
}
.home h1{
    font-size: 55px;
}
.home h1 span{
    color: gold;
}
.home h2{
    font-size: 45px;
}
.home p{
    font-size: 20px;
}
.btn{
    padding: 8px 10px;
    border-radius: 17px;
    color: white;
    background-color: #000000;
    font-weight: bold;
    font-size: 13px;
    width: 107px;
    margin-left: 19.8%;
    cursor: pointer;
}
.btn:hover{
    background-color: gold;
}
.btn-co{
    padding: 8px 10px;
    border-radius: 17px;
    color: white;
    background-color: #000000;
    font-weight: bold;
    font-size: 13px;
    width: 107px;
    margin-left: 19.8%;
    cursor: pointer;
}
.btn-co:hover{
    background-color: gold;
}
.heading{
    color: gold;
    text-align: center;
    margin-top: 1%;
    font-size: 35px;
}
.info{
    color: white;
    margin-top: 1.3%;
    margin-left: 25%;
    font-size: 20px;
}
.info span{
    color: gold;
}
.heading1{
    color: gold;
    text-align: center;
    margin-top: 1%;
    font-size: 35px;
}
.list{
    color: white;
    margin-top: 1.3%;
    margin-left: 25%;
    font-size: 20px;
}
.heading2{
    color: gold;
    text-align: center;
    margin-top: 1.3%;
    font-size: 35px;
}
.form{
    margin-top: 1.3%;
}


#li-img{
    width: 54px;
    height: 51px;
    position: absolute;
    top: 65%;
    left: 39%;
    z-index: 1;
    cursor: pointer;
}
#fb-img{
    width: 49px;
    height: 45px;
    position: absolute;
    top: 65.45%;
    left: 43.8%;
    z-index: 1;
    cursor: pointer;
}
#in-img{
    width: 49px;
    height: 49px;
    position: absolute;
    top: 65%;
    left: 48.7%;
    z-index: 1;
    cursor: pointer;
}
#te-img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 65%;
    left: 53.3%;
    z-index: 1;
    cursor: pointer;
}
#gi-img{
    width: 49px;
    height: 45px;
    position: absolute;
    top: 65%;
    left: 57.9%;
    z-index: 1;
    cursor: pointer;
}
.btn-se{
    color: white;
    background-color: rgb(40, 40, 40);
    height: 23px;
    width: 46px;
}
.btn-se:hover{
    background-color: greenyellow;
    cursor: pointer;
    height: 25px;
    width: 49px;
}